<div class="userInfo">
	@if(player != null)
	{
	<h5>@player.name</h5>
		<p>Current bet: @player.currentBet</p>
		<p>Cards:</p>
		<svg width="300"
			 height="200"
			 xmlns="http://www.w3.org/2000/svg"
			 xmlns:xlink="http://www.w3.org/1999/xlink">
			<use href="@player.hand[0].getName()" x="0" y="0"
				 transform="rotate(0)scale(0.5)" />
			<use href="@player.hand[1].getName()" x="87" y="0"
				 transform="rotate(0)scale(0.5)" />
		</svg>
	}
</div>

<style>
	div.userInfo {
		border: 2px solid black;

		padding-top: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
	}

</style>

@code {
	[Parameter]
	public User player { get; set; }
	//public int placement { get; set; }
	//User? player;
	//public String[] cardsNames = new String[2];

	protected override async Task OnInitializedAsync()
	{
		
	}


}
