<!--
	Skrevet af Filip
-->
<div class="user">
	@if(player != null)
	{
	<!--<h5>@player.name</h5>-->
	<p> Balance: @player.currentBalance</p>
		// Spillerens running balance aka hvor mange penge der har vundet/mister er enten rød eller grøn, afhængig af og værdien er over 0.
		<p style="color: @(player.runningBalance() < 0 ? "red" : "green" )">Running balance: @player.runningBalance()</p>
	}
</div>

<style>
	div.user {
		border: 2px solid black;

		padding-top: 5px;
		padding-right: 30px;
		padding-bottom: 5px;
		padding-left: 10px;
	}

</style>

@code {
	[Parameter]
	public User player { get; set;  }



}
