<style>
	.UserCreator {
		float: left;
		border: 2px groove grey;
		border-radius: 7px;
		padding: 10px;
		margin: 8px;
	}
	.UserCreatorContent {
		float: right;
		padding: 5px;
	}
</style>

<div class="UserCreator">
	<div class="UserCreatorContent">
		<label for="Name">Name:</label>
		<input type="text" name="Name" autocomplete="off" @onchange="SaveName" />
	</div>
	<br />
	<div class="UserCreatorContent">
		<label for="Balance">Starting Balance:</label>
		<input type="number" name="Balance" autocomplete="off" @onchange="SaveBalance" value=500/>
	</div>
</div>

@code {
	[Parameter]
	public int id { get; set; }

	private void SaveName (ChangeEventArgs e)
	{
		Shared.GlobalInfo.userList[id].name = e.Value?.ToString();
	}
	private void SaveBalance (ChangeEventArgs e)
	{
		//Check value, if the input field is left blank you get a null value that cannot be assigned
		try
		{
			Shared.GlobalInfo.userList[id].startBalance = int.Parse(e.Value?.ToString());
			Shared.GlobalInfo.userList[id].currentBalance = Shared.GlobalInfo.userList[id].startBalance;
		} catch
		{
			Console.WriteLine("Failed to assign balance: number cannot be null");
		}
		
	}
}