@using Microsoft.AspNetCore.Components.Forms

<label for="Name">Name:</label>
<input type="text" name="Name" @bind="name" @bind:after="SaveName"/>
<label for="Balance">Starting Balance:</label>
<input type="number" name="Balance" @bind="balance" @bind:after="SaveBalance"/>

@code {
	[Parameter]
	public int index { get; set; }

	public string name = "";
	public int balance = 0;

	public async Task SaveName ()
	{
		Shared.GlobalInfo.userList[index].name = name;
	}
	public async Task SaveBalance ()
	{
		Shared.GlobalInfo.userList[index].startBalance = balance;
	}
}
